<a href="https://colab.research.google.com/github/VaitheeswarMadesh/-100Daysofcode/blob/master/GoogleITPython_CrashCourseonPython.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
def print_prime_factors(number):
  # Start with two, which is the first prime
  factor =2
  # Keep going until the factor is larger than the number
  while factor <= number:
    # Check if factor is a divisor of number
    if number % factor == 0:
      # If it is, print it and divide the original number
      print(factor)
      number = number / factor
    else:
      # If it's not, increment the factor by one
      factor+=1

  return "Done"

print_prime_factors(100) # Should print 2,2,5,5
# DO NOT DELETE THIS COMMENT

2
2
5
5

'Done'

In [0]:
def is_power_of_two(n):
  # Check if the number can be divided by two without a remainder
  while n % 2 == 0:
    if n == 0 :
      break;      
    n = n / 2
# If after dividing by two the number is 1, it's a power of two
  if n == 1:
    return True
  return False
  

print(is_power_of_two(0)) # Should be False
print(is_power_of_two(1)) # Should be True
print(is_power_of_two(8)) # Should be True
print(is_power_of_two(9)) # Should be False

False
True
True
False

In [0]:
def multiplication_table(number):
	# Initialize the starting point of the multiplication table
	multiplier = 1
	# Only want to loop through 5
	while multiplier <= 5:
		result = multiplier * number 
		# What is the additional condition to exit out of the loop?
		if result > 25:
			break
		print(str(number) + "x" + str(multiplier) + "=" + str(result))
		# Increment the variable for the loop
		multiplier += 1

multiplication_table(3) 
# Should print: 3x1=3 3x2=6 3x3=9 3x4=12 3x5=15

multiplication_table(5) 
# Should print: 5x1=5 5x2=10 5x3=15 5x4=20 5x5=25

multiplication_table(8)	
# Should print: 8x1=8 8x2=16 8x3=24

In [6]:
def factorial(n):
    result = 1
    for x in range(1,n+1):
        result = result * x
    return result

for n in range(0,11):
    print(n, factorial(n+1))

0 1
1 2
2 6
3 24
4 120
5 720
6 5040
7 40320
8 362880
9 3628800
10 39916800

In [8]:
def votes(params):
	for vote in params:
	    print("Possible option:" + vote)
votes(['yes','no','maybe'])

Possible option:yes
Possible option:no
Possible option:maybe

In [0]:
def decade_counter():
	while year < 50:
		year += 1
	return year

In [0]:
def evenOdd(maxNum):
	# Start with empty lists for even and odd numbers
	evens = []
	odds = []
	# Loop through every integer up to the input maxNum	
	for num in range(1, maxNum + 1):
		# Test if the number is even
		if num % 2 == 0:
			evens.append(num)
		else:
			odds.append(num)
	print("Evens:", evens)
	print("Odds:", odds)

In [22]:
def even_numbers(maximum):
	return_string = ""
	for x in range(1,maximum+1):
	  if x % 2 == 0:
	    return_string += str(x) + " "
	return return_string.strip()

print(even_numbers(6))  # Should be 2 4 6
print(even_numbers(10)) # Should be 2 4 6 8 10
print(even_numbers(1))  # No numbers displayed
print(even_numbers(3))  # Should be 2
print(even_numbers(0))  # No numbers displayed

2 4 6
2 4 6 8 10

2

In [24]:
def multiplication_table(start, stop):
    for x in range(1, 2):
        for y in range(1, 3):
            print(str(x * y), end=" ")
        print()

multiplication_table(1, 3)

1 2

In [26]:
def digits(n):
   count = 0
   if n == 0:
      return 1
   while (n > 0):
      count += 1
      n = n//10
   return count

print(digits(25))  # Should print 2
print(digits(144)) # Should print 3
print(digits(1000)) # Should print 4
print(digits(0))   # Should print 1

2
3
4
1

In [27]:
def show_letters(word):
  for x in range(0, len(word)):
    print(word[x])

show_letters("hello")

h
e
l
l
o

In [30]:
number = 1
while number <= 7:
	print(number, end=" ")
	number += 1

1 2 3 4 5 6 7

In [31]:
def multiplication_table(start, stop):
	for x in range(start,stop+1):
		for y in range(start,stop+1):
			print(str(x*y), end=" ")
		print()

multiplication_table(1, 3)

1 2 3
2 4 6
3 6 9

In [32]:
def double_word(word):
    return word * 2 + str(len(word * 2))

print(double_word("hello")) # Should return hellohello10
print(double_word("abc"))   # Should return abcabc6
print(double_word(""))      # Should return 0

hellohello10
abcabc6
0

In [0]:
def counter(start, stop):
	x = start
	if x > stop:
		return_string = "Counting down: "
		while x >= stop:
			return_string += str(x)
			if x>stop:
				return_string += ","
			x = x - 1
	else:
		return_string = "Counting up: "
		while x <= stop:
			return_string += str(x)
			if  x<stop:
				return_string += ","
			x = x+1
	return return_string

print(counter(1, 10)) # Should be "Counting up: 1,2,3,4,5,6,7,8,9,10"
print(counter(2, 1)) # Should be "Counting down: 2,1"
print(counter(5, 5)) # Should be "Counting up: 5"

In [4]:
def retry(operation, attempts):
  for n in range(attempts):
    if operation():
      print("Attempt " + str(n) + " succeeded")
      break
    else:
      print("Attempt " + str(n) + " failed")

retry(create_user, 3)
retry(stop_service, 5)

NameError: ignored

In [5]:
for x in range(0,100,7):
  if (x % 7 == 0):
    print(x)

0
7
14
21
28
35
42
49
56
63
70
77
84
91
98

In [0]:
for x in range(1,11):
  print(x**3)